@tailwind base;
@tailwind components;
@tailwind utilities;

/* 护眼模式的强制覆盖类 */
.mode-sepia {
  background-color: #f5f0e1;
  color: #5d4037;
}
.mode-sepia .card {
  background-color: #fffbf0;
  border-color: #e6dec1;
}
.mode-sepia .header-bg {
  background-color: #f5f0e1;
  border-bottom-color: #d7ccc8;
}
